
{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}

  <div class="container mt-5">
     <div class="card">
          <div class="card-header">
              Formulario de Contacto
          </div>
          <div class="card-body">
              <form>
                  <p>Agendar hora</p>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Eliga la especialidad</option>
                    <option value="1">Neurologia</option>
                    <option value="2">Dermatologia</option>
                    <option value="3">Pediatria</option>
                  </select>
                  <br>
                  <div class="mb-3">
                    <label for="rut">Rut:</label>
                    <input type="text" class="form-control" id="rut" placeholder="Ej: 12345678-9" pattern="\d{1,8}-\d{1}">
                  </div>
                  <button class="btn btn-primary" type="submit" role="button">Pedir hora</button>
              </form>
           </div>
      </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}