<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="app.js" async></script>
    <link rel="stylesheet" href="css/compra.css">
    <title>Sección de Compra</title>
</head>
<body>
    <header>
        <h1>Sección de Compra</h1>
    </header>
    <!-- CONTENEDOR DE ELEMENTOS -->
    <section class="contenedor">
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">Metfrumina</span>
                <img src="img/metfrumina.jpg" class="img-item" alt="" width="30" height="210">
                <span class="precio-item">$2.690</span>
                <button class="boton-item">Agregar al Carro</button>
            </div>

            <div class="item">
                <span class="titulo-item">Ibuprofeno</span>
                <img src="img/iboprofeno.jpg" class="img-item" alt="" width="30" height="210">
                <span class="precio-item">$1.690</span>
                <button class="boton-item">Agregar al Carro</button>
            </div>

            <div class="item">
                <span class="titulo-item">Paracetamol</span>
                <img src="img/paracetamol.jpg" class="img-item" alt="" width="30" height="210">
                <span class="precio-item">$990</span>
                <button class="boton-item">Agregar al Carro</button>
            </div>

            <div class="item">
                <span class="titulo-item">Crema Hidratante</span>
                <img src="img/crema.jpg" class="img-item" alt="" width="30" height="210">
                <span class="precio-item">$16.790</span>
                <button class="boton-item">Agregar al Carro</button>
            </div>

            <div class="item">
                <span class="titulo-item">Amoxicilina</span>
                <img src="img/amoxicilina.jpg" class="img-item" alt="" width="30" height="210">
                <span class="precio-item">$1.752</span>
                <button class="boton-item">Agregar al Carro</button>
            </div>

            <div class="item">
                <span class="titulo-item">Diclofenaco</span>
                <img src="img/diclofenaco.jpg" class="img-item" alt="" width="30" height="210">
                <span class="precio-item">$2.890</span>
                <button class="boton-item">Agregar al Carro</button>
            </div>

            <div class="item">
                <span class="titulo-item">Aspirina</span>
                <img src="img/aspirina.jpg" class="img-item" alt="" width="30" height="210">
                <span class="precio-item">$2.072</span>
                <button class="boton-item">Agregar al Carro</button>
            </div>

            <div class="item">
                <span class="titulo-item">Tapsin</span>
                <img src="img/tapsin.jpg" class="img-item" alt="" width="30" height="210">
                <span class="precio-item">$6.232</span>
                <button class="boton-item">Agregar al Carro</button>
            </div>            
        </div>

        <!-- CARRITO DE COMPRAS -->


        <div class="carrito" id="carrito"> 

            <div class="header-carrito">
                <h2>Tu Carrito</h2>
            </div>

            <div class="carrito-items">
                <!--
                <div class="carrito-item">

                    <img src="img/compra/carne.jpg" alt="" width="80px">

                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Alimento de Carne</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="1" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$20.000</span>
                    </div>
                    <span class="btn-eliminar">
                        <i class="fa-solid fa-trash"></i>
                    </span>
                </div>

                <div class="carrito-item">
                    <img src="img/compra/desparasitante.jpg" alt="" width="80px">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Desparasitante de perro</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="2" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$26.000</span>
                    </div>
                    <button class="btn-eliminar">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
                -->
            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Tu Total </strong>
                    <span class="carrito-precio-total">$0</span>
                </div>
                <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i></button>
            </div>
        </div>

        

    </section>
</body>
</html>