{% extends 'app/base.html' %}

{% load static %}

{% block contenido %}
    <!-- ================================ -->
    <!-- Contactanos -->
    <!-- ================================ -->


    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                Formulario de Contacto
            </div>
            
            <form action="" class="formulario_contacto" method="post">

                {% csrf_token %}

                {{ form }}
                

             <button type="submit" class="btn btn-primary" id="btnEnviar">Enviar</button>

            </form>

            {{mensaje}}

        </div>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}
